:root {
  --color-primary: #b20021;
  --color-secondary: #2f4858;
  --color-white: #ffffff;
  --color-accent: #f4f4f4;
  --color-body: #181818;
  --border-radius: 1rem;
}

/* UNIVERSAL SELECTOR */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  background: var(--color-white);
  color: var(--color-body);
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 2rem;
  }
}

/* Container */
.container {
  max-width: 1207px;
  margin: 0 auto;
}

/* Button */
.btn {
  background: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-size: 1.4rem;
  font-family: inherit;
  padding: 1.2rem 2.4rem;
}

/* Input Group */
.input-group {
  border-radius: var(--border-radius);
  display: flex;
  overflow: hidden;
}

.input-group > input {
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 300;
  flex-grow: 1;
  padding: 2rem;
  outline: none;
  opacity: 50%;
}

.input-group__icon {
  background: var(--color-secondary);
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}

/* Features */
.feature {
  background: var(--color-accent);
  display: flex;
  flex-direction: column;
  max-width: 395px;
  /* box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.2); */
  border-radius: var(--border-radius);
  overflow: hidden;
}

.feature img {
  width: 100%;
}

.feature__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.2rem 3.2rem;
}

@media screen and (min-width: 1024px) {
  .feature__body > p {
    font-size: 1.6rem;
  }

  .feature__body > h3 {
    font-size: 2rem;
  }
}

/* Steps */
.step {
  background: #fff;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  max-width: 382px;
  padding: 2rem 1.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.step__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.step__icon-container {
  background: #b2002133;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.step__icon-container > img {
  width: 30px;
}

.step__heading {
  color: var(--color-secondary);
  font-size: 2.4rem;
  font-weight: 700;
}

.step__body {
  font-size: 1.6rem;
}

/* Plans */
.plan {
  background: var(--color-accent);
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  padding: 4rem 3.1rem;
  max-width: 381px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
}

.plan h3 {
  font-size: 2rem;
  font-weight: 700;
}

.plan > h3 {
  color: var(--color-primary);
}

.plan__pricing {
  display: flex;
  gap: 1rem;
}

.plan__pricing p {
  color: var(--color-secondary);
  font-size: 1.6rem;
}

.plan__duration h3 {
  align-self: flex-start;
  text-align: left;
}

.plan__list {
  list-style: none;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

/* Testimonial */
.testimonial {
  background: var(--color-white);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  display: flex;
  gap: 1.6rem;
  padding: 2.4rem 2rem;
  max-width: 398px;
}

.testimonial__img-container > img {
  width: 100%;
}

.testimonial__body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.testimonial__body p {
  font-size: 1.4rem;
}

.testimonial__author {
  color: var(--color-primary);
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .testimonial__body p {
    font-size: 1.6rem;
  }

  .testimonial__author {
    font-size: 2rem;
  }
}

/* Navigation */
.nav {
  padding: 1.6rem;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  width: 155px;
}

.nav__brand > img {
  width: 100%;
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.nav__link:link,
.nav__link:visited {
  color: var(--color-body);
  font-size: 1.6rem;
  text-decoration: none;
}

.nav__link:active,
.nav__link:hover {
  text-decoration: underline;
}

.nav__link-active:link,
.nav__link-active:visited {
  color: var(--color-primary);
}

.nav__link-active:active,
.nav__link-active:hover {
  text-decoration: underline;
}

.nav__btn {
  text-decoration: none;
}

.nav__menu,
.nav__btn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav {
    padding: 1.6rem 11.7rem;
  }

  .nav__menu,
  .nav__btn {
    display: flex;
  }

  .nav__hamburger {
    display: none;
  }
}

/* Hero */
.hero {
  background: url('../assets/images/hero-banner.png');
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.2rem;
}

.hero .btn {
  text-decoration: none;
  align-self: center;
}

.hero__banner {
  max-width: 1013px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero__heading {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero__text {
  font-size: 1.6rem;
  font-weight: 400;
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (min-width: 1024px) {
  .hero__heading {
    font-size: 4.5rem;
  }

  .hero__text {
    font-size: 2rem;
  }
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Blocks */
.block {
  padding: 4rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.block--white {
  background: var(--color-white);
}

.block--gray {
  background: var(--color-accent);
}

.block__header {
  text-align: center;
  max-width: 991px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.block__heading {
  color: var(--color-primary);
  font-size: 2.4rem;
}

.block__paragraph {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .block {
    padding: 5rem 13.7rem;
  }

  .block__heading {
    font-size: 3.2rem;
  }

  .block__paragraph {
    font-size: 2rem;
  }
}

/* Features Block */
.block-features .grid {
  gap: 2.4rem;
}

@media screen and (min-width: 768px) {
  .block-features .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .block-features .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Steps Block */
.block-steps .grid {
  gap: 3rem;
}

.block-steps .btn {
  align-self: center;
  text-decoration: none;
}

/* Plans Block */
.block-plans .grid {
  gap: 3rem;
  align-items: start;
}

/* Testimonial Block */
.block-testimonials .grid {
  gap: 3rem;
}
