<section class="block block--white">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">This is block heading</h2>
      <p class="block__paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit,
        aspernatur, eveniet vel deserunt beatae rem inventore nulla,
        exercitationem cum nam omnis veritatis repellendus at consequatur.
      </p>
    </header>
  </div>
</section>

<section class="block block--gray">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">This is block heading</h2>
      <p class="block__paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit,
        aspernatur, eveniet vel deserunt beatae rem inventore nulla,
        exercitationem cum nam omnis veritatis repellendus at consequatur.
      </p>
    </header>
  </div>
</section>
