<footer class="block--white footer">
  <div class="grid container">
    <div class="footer__brand">
      <a href="#" class="">
        <img
          class="footer__brand-logo"
          src="./assets/images/FrameCraft.svg"
          alt="Brand Logo"
        />
      </a>

      <p class="footer__copyright">
        Copyright &copy; 2024. SCUTIGEN. All Rights Reserved.
      </p>

      <div class="footer__newsletter">
        <h3>Subscribe to our newsletter</h3>
        <div class="input-group">
          <input
            type="text"
            placeholder="Email address"
            aria-label="User Email"
          />
          <div class="input-group__icon">
            <img
              src="./assets/images/icon-arrow-right.svg"
              alt="Arrow Right Icon"
            />
          </div>
        </div>
      </div>
    </div>

    <nav class="footer__nav">
      <h4>Pages</h4>

      <ul class="footer__nav-menu">
        <li>
          <a href="#" class="nav__link">Home</a>
        </li>
        <li>
          <a href="#" class="nav__link">About</a>
        </li>
        <li>
          <a href="#" class="nav__link">Products</a>
        </li>
        <li>
          <a href="#" class="nav__link">Pricing</a>
        </li>
        <li>
          <a href="#" class="nav__link">FAQ</a>
        </li>
        <li>
          <a href="#" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="footer__contact">
      <h4>Contacts</h4>

      <ul class="footer__contact-menu">
        <li class="footer__contact-list">For more information contact us on</li>
        <li class="footer__contact-list">
          <img src="./assets/images/icon-phone.svg" alt="Phone Icon" />
          <span>(208) 555-0112</span>
        </li>
        <li class="footer__contact-list">
          <img src="./assets/images/icon-msg.svg" alt="Inbox Message Icon" />
          <span>info@framecraft.com</span>
        </li>
      </ul>

      <div class="footer__socials">
        <img src="./assets/images/icon-facebook.svg" alt="Facebook Icon" />
        <img src="./assets/images/icon-twitter.svg" alt="Twitter Icon" />
        <img src="./assets/images/icon-fb.svg" alt="Instagram Icon" />
      </div>
    </div>

    <div class="footer__btn-top">
      <span class="icon__arrow-up">
        <img src="./assets/images/icon-arrow-up.svg" alt="Icon Arrow Up" />
      </span>
    </div>
  </div>
</footer>
