<nav class="nav">
  <div class="container nav__inner">
    <a href="#" class="nav__brand">
      <img src="./assets/images/FrameCraft.svg" alt="Brand Logo" />
    </a>

    <img
      class="nav__hamburger"
      src="./assets/images/hamburger.svg"
      alt="Hamburger Icon"
    />

    <ul class="nav__menu">
      <li>
        <a href="#" class="nav__link-active nav__link">Home</a>
      </li>
      <li>
        <a href="#" class="nav__link">About</a>
      </li>
      <li>
        <a href="#" class="nav__link">Contact</a>
      </li>
    </ul>

    <a href="#" class="nav__btn btn">Start Framing</a>
  </div>
</nav>
