<div class="step">
  <header class="step__header">
    <span class="step__icon-container">
      <img src="./assets/images/icon-frame.svg" alt="Frame Icon" />
    </span>
    <h3 class="step__heading">Step 1</h3>
    <h3 class="step__heading">Choose Your Frame</h3>
  </header>
  <p class="step__body">
    Begin by selecting the perfect frame for your artwork from FrameCraft'
    diverse collection. Choose from a range of styles, colors, and materials to
    complement your artwork's aesthetics and enhance its presentation
  </p>
</div>
