<section class="block block--gray block-testimonials">
  <header class="block__header">
    <h2 class="block__heading">Testimonials</h2>
    <p class="block__paragraph">What customer say about us</p>
  </header>

  <div class="grid grid--1x2 container">
    <!-- Testimonial 1 starts here... -->
    <div class="testimonial">
      <div class="testimonial__img-container">
        <img src="./assets/images/testimonial1.png" alt="User Photo" />
      </div>
      <div class="testimonial__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation
        </p>
        <p class="testimonial__author">Arlene McCoy</p>
      </div>
    </div>
    <!-- Testimonial 1 ends here... -->

    <!-- Testimonial 2 starts here... -->
    <div class="testimonial">
      <div class="testimonial__img-container">
        <img src="./assets/images/testimonial2.png" alt="User Photo" />
      </div>
      <div class="testimonial__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation
        </p>
        <p class="testimonial__author">Arlene McCoy</p>
      </div>
    </div>
    <!-- Testimonial 2 ends here... -->
  </div>
</section>
